bin/*
.eslintrc
*jspm_packages*
browser/jspm_packages*
node_modules
dist
src/vendor
src/js
lib/browser/wrap
test/polyfills
test/vendor
test/saucelabs-browsers.js
test/specs/server/compiler/fixtures
test/specs/server/compiler/expect
test/specs/server/compiler/parsers/js
test/performance/db-monster
public/libraries
public/jspm_packages
public/**/*.bundle.*
public/assets
public/**/compiled_templates*